# Eventify Server Configuration
PORT=3001
NODE_ENV=development

# JWT Authentication
JWT_SECRET=eventify_jwt_super_secure_2026_key_#12903!

# PostgreSQL Database URL
# Format: postgresql://<username>:<password>@<host>:<port>/<database>
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/eventify
